<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <title>Header</title>
    <link rel="stylesheet">
</head>
<body>
    <header th:fragment="header">
        <nav>
            <ul style="display: flex; /* Align items in a row */
                        list-style: none; /* Remove default list styling */
                        padding: 5px;">
                <li style="padding: 5px;"><a th:href="@{/employee}">社員情報一覧</a></li>
                <li style="padding: 5px;"><a th:href="@{/logout}">ログアウト</a></li>
            </ul>
        </nav>
    </header>

    <footer th:fragment="footer">
        <!-- Footer content -->
        <p><small>Copyright &copy; 2024 勤怠管理システム All Rights Reserved.</small></p>
    </footer>

</body>
</html>
