.form-control, .form-select{
    width:auto;
    display:inline;
    margin-bottom: .5rem;
}

/*=====================================================*/

/*.sticky-top {*/
/*    position: -webkit-sticky;*/
/*    position: sticky;*/
/*    top: -0.5px;*/
/*    z-index: 1020;*/
/*}*/

.table{
    border-collapse: separate; /* Don't collapse */
    border-spacing: 0;
}

.table th, .table td {
    border: 1px solid #ddd; /* Border for table cells */
    white-space: nowrap !important;
}

.sticky-col {
    position: sticky;
    left: 0;
    background-color: #f8f9fa; /* Matches the table header background */
    z-index: 1;
    min-width: 50px;
}
.sticky-col-2 {
    position: sticky;
    left: 50px; /* Adjust according to your column width */
    background-color: #f8f9fa; /* Matches the table header background */
    z-index: 1;
    min-width: 70px;
}

.sticky-col-3 {
    position: sticky;
    left: 120px; /* Adjust according to your column width */
    background-color: #f8f9fa; /* Matches the table header background */
    z-index: 1;
    min-width: 100px;
}

/*!* Apply specific widths for remaining columns *!*/
/*.table th:nth-child(4) { width: 10%; } !* 性別 *!*/
/*.table th:nth-child(5) { width: 15%; } !* 生年月日 *!*/
/*.table th:nth-child(6) { width: 10%; } !* 年齢 *!*/
/*.table th:nth-child(7) { width: 15%; } !* 入社年月日 *!*/
/*.table th:nth-child(8) { width: 15%; } !* 所属 *!*/
/*.table th:nth-child(9) { width: 25%; } !* メールアドレス *!*/

/*=====================================================*/

/*!* Style for clickable rows *!*/
/*.clickable-row {*/
/*    cursor: pointer;*/
/*}*/

/*.clickable-row:hover {*/
/*    background-color: #f5f5f5;*/
/*}*/

/*!* Padding for table cells *!*/
/*td {*/
/*    padding: 5px;*/
/*}*/

/*=====================================================*/
/*!* Filter Form Styles *!*/
/*#filterForm {*/
/*    margin-bottom: 20px;*/
/*    display: flex;*/
/*    gap: 10px;*/
/*    align-items: center;*/
/*}*/

/*=====================================================*/
/* Pagination container */

/*#paginationControls .pagination {*/
/*    display: flex; !* Align items in a row *!*/
/*    list-style: none; !* Remove default list styling *!*/
/*    padding: 0;*/
/*    margin: 0;*/
/*}*/

/*#paginationControls .pagination li {*/
/*    margin: 0 5px;*/
/*}*/

/*#paginationControls .pagination button {*/
/*    border: 1px solid #ddd;*/
/*    background-color: #fff;*/
/*    padding: 5px 10px;*/
/*    cursor: pointer;*/
/*}*/

/*#paginationControls .pagination button:disabled {*/
/*    cursor: not-allowed;*/
/*    background-color: #f5f5f5;*/
/*}*/

/*#paginationControls .pagination button:hover:not(:disabled) {*/
/*    background-color: #007bff; !* Change background color on hover *!*/
/*    color: #fff; !* Change text color on hover *!*/
/*    border-color: #007bff; !* Change border color on hover *!*/
/*}*/
