/*!* Style for clickable rows *!*/
/*.clickable-row {*/
/*    cursor: pointer;*/
/*}*/

/*.clickable-row:hover {*/
/*    background-color: #f5f5f5;*/
/*}*/

/*!* Padding for table cells *!*/
/*td {*/
/*    padding: 5px;*/
/*}*/

/*=====================================================*/
/*!* Filter Form Styles *!*/
/*#filterForm {*/
/*    margin-bottom: 20px;*/
/*    display: flex;*/
/*    gap: 10px;*/
/*    align-items: center;*/
/*}*/

/*=====================================================*/
.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: -0.5px;
    z-index: 1020;
}
.table th, .table td {
    border: 1px solid #ddd; /* Border for table cells */
}
/*=====================================================*/
/* Pagination container */
#paginationControls .pagination {
    display: flex; /* Align items in a row */
    list-style: none; /* Remove default list styling */
    padding: 0;
    margin: 0;
}

#paginationControls .pagination li {
    margin: 0 5px;
}

#paginationControls .pagination button {
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 5px 10px;
    cursor: pointer;
}

#paginationControls .pagination button:disabled {
    cursor: not-allowed;
    background-color: #f5f5f5;
}
